body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    background-color: bisque;
}

#menuP {
    text-decoration:none;
    border: solid black 2px;
    color: darkred;
    padding: 1.2vw;
}

.sousMenu {
    text-decoration: none;
}

