body {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    background-color: bisque;
}

#menuP {
    text-decoration:none;
    border: solid black 2px;
    color: darkred;
    padding: 1.2vw;
    flex: 1;
}

#menuP2 {
    text-decoration:none;
    border: solid black 2px;
    color: darkred;
    padding: 1.2vw;
    flex: 1;
}

.sousMenu {
    text-decoration: none;
    border: black 2px solid;
    visibility: hidden;
}



