body{
    margin: 0vw;
    padding: 0vw;
    font-family: verdana, calibri, sans-serif;
    background-color: rgb(160, 145, 194);
    text-align: center;
}

div{
    display: flex;
    flex:1;
    flex-direction: column;
}

nav{
    width: 100%;
}

.ligne{
    flex-direction: row;
}

.sousMenu {
    display: none;
}

a{
    text-decoration: none;
    padding: 2vw 3vw;
    color: rgb(191, 191, 207);
    background-color: rgb(11, 16, 73);
}

.sousMenu a{
    padding: 1vw ;
    border-bottom: 1px solid white;  
    /* background-color: orange; */
}