/**************************************Impression ******************************************/

.contenu-liste-impression {
    width: 98%;
    margin-left: 1%;
}

.titre1{
    color: var( --color-jaune);
    background-color:var(--color-orange);
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    font-size: 0.7em;
}

.ligneTitre{
    width: 100%;
    border: 1.2px solid var(--color-orange);
    display: flex;
    justify-content: flex-end;
}

#ligneFooter {
    display: none;
}

.contenuListe1 {
    font-size: 0.8em;
    flex: 1;
}

.ligneImpression{
    width: 100%;
    border: 1.2px solid var(--color-orange);
    display: flex;
    justify-content: flex-end;
}

/*************************************** Impression Journaux *******************************/

#h1_jounaux {
    text-align: center;
    font-size: 1.2em;
    color: var(--color-blue2);
    font-weight: bold;
}

.ligne_impression {
    width: 98%;
    align-content: center;
    margin-left: 1%;
}